
<template>
    <div id ="calendar">
        <v-content dir="rtl" >
        <v-container grid-list-md center>
            <v-layout row wrap>
            <v-flex xs12>
                <v-card class="justify-center" color="#EEEEEE" width="50%">
                <v-card-text class="justify-center px-10 headline">ימי חופשות על חשבון המערכת</v-card-text>
                <v-card-text class="justify-center">
       
            
                    <v-col cols="12" sm="6" md="4">
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field dir="rtl"
                            v-model="date"
                            label="נא לבחור תאריך"
                            prepend-icon=""
                            readonly
                            v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title scrollable>
                        <div class="flex-grow-1"></div>
                        <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                    </v-col>
                </v-card-text>
                <template>
                    <div class="text-center">
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                        <v-btn
                            color="primary"
                            dark
                            v-on="on"
                        >
                            {{btn_text}}                                                
                        </v-btn>
                        </template>
                        <v-list>
                        <v-list-item
                                   
                            v-for="(item, index) in items"                            
                            @click="updateSelected(item)"
                            :key="index"
                            >
                            <v-list-item-title dir="rtl" @v-model="btn_text">{{ item.title }}</v-list-item-title>
                        </v-list-item>
                        </v-list>
                    </v-menu>
                    </div>
                </template>
                <v-btn v-on:click="send()">הזן למערכת</v-btn>
                </v-card>
            </v-flex>
            </v-layout>
        </v-container>
        </v-content>
    </div>
</template>

<script>
  export default {
    name: 'calendar',
    props: {
    source: String,
    },
    data: () => ({
        items: [
            {title: 'יום על חשבון המערכת'},
            {title: 'חצי יום על חשבון המערכת'},
            {title: 'יום על חשבון ימי חופשה שנתית'}],
        btn_text: 'נא לבחור סוג ניכוי חופשה',
    }),
    methods: {
    updateSelected (selectedItem) {
        btn_text = selectedItem.title;
        window.alert(btn_text);
     }
   },
  }
</script>
