
<template>
  <v-app id="inspire" >
    <v-navigation-drawer
      v-model="drawer"
      app
      right
    >
      <v-list dense>
        <v-list-item>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ראשי</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-action>
            <v-icon>mdi-face</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>אודות</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo darken-2"
      dark
    >
      <div class="flex-grow-1"></div>
      <v-toolbar-title>משאן בוט - צד מש״ק</v-toolbar-title>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>
    <calendar/>

    <v-footer
      color="indigo darken-2"
      app
    >
      <div class="flex-grow-1"></div>
      <span class="white--text">&copy; צוות משאן בוט</span>
    </v-footer>
  </v-app>
</template>

<script>
  import Calendar from './components/Calendar'

  export default {
    props: {
      source: String,
    },
     components: {
     Calendar,
  },
    data: () => ({
      drawer: null,
    }),
  }
</script>